#secao1-inicial h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 98%;
    opacity: 0.7;
}

#secao1-inicial {
    margin-bottom: 100px;
}

#secao1-inicial p {
    width: 450px;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    color: white;
}

#secao1-inicial button {
    color: white;
    background-color: #86AE8E;
    width: 400px;
    height: 50px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-weight: 600;

}

@media (max-width: 1089px) {
    #secao1-inicial {
        padding: 0px;
    }
    #secao1-inicial h1 {
        width: 250px;
        font-size: 2rem;
    }

    #secao1-inicial p {
        width: 350px;
        font-size: 1rem;
    }

    #secao1-inicial button {
        width: 250px;
        font-size: 1.1rem;
    }
}

@media (max-width: 660px) {
    #secao1-inicial {
        margin-top: -150px;
    }
}

@media (max-width: 570px) {
    #secao1-inicial h1 {
        width: 250px;
        font-size:  1.7rem;
    }

    #secao1-inicial p {
        width: 350px;
        font-size: 0.8rem;
    }

    #secao1-inicial button {
        width: 200px;
        font-size: 1rem;
    }
    #secao1-inicial {
        margin-top: -190px;
    }
}

@media (max-width: 500px) {
    
    #secao1-inicial {
        margin-top: -210px;
    }
}

#section2-main {
    background-color: #fff;
    color: #86AE8E;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
}

#section2-main-div-inicial {
    padding-top: 50vh;
    width: 50%;
}

#section2-main-div-inicial p {
    width: 450px;
    margin-bottom: 200px;
    font-size: 1.2rem;
}

#section2-main-div-inicial h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    width: 450px;
    margin-bottom: 1%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
}

#div-cardsCircles {
    margin-top: 25vh;
    margin-bottom: 15vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 125px;
}

@media (max-width: 950px) {
    #section2-main {
        flex-direction: column;
        align-items: center;
    }

    #section2-main-div-inicial {
        width: 100%;
        padding-top: 10vh;
    }

    #div-cardsCircles {
        width: 100%;
        align-self: center;
        margin-top:0;
    }
}

@media (max-width: 690px) {
    #section2-main-div-inicial p {
        width: 350px;
        font-size: 1rem;
    }

    #section2-main-div-inicial h2 {
        width: 250px;
        font-size: 2rem;
    }
    #div-cardsCircles {
        margin-right: 70px;
    }
}

@media (max-width: 480px) {
    #section2-main-div-inicial p {
        width: 100vw;
        font-size: 1rem;
    }

    #section2-main-div-inicial h2 {
        width: 100vw;
        font-size: 1.5rem;
    }
}

#div-da-imagem {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#div-da-imagem-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#section3-main {
    background-color: #86AE8E;
    color: #86AE8E;
    padding-bottom: 5%;
    width: 100vw;
    
}

#section3-main h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

#section3-p2-main {
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 945px) {
    #paragrafo-section3-main {
        font-size: 1rem;
    }

    #section3-p2-main h2 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    #cardQuadrado-secao3 {
        flex-direction: column;
    }
}

#cardQuadrado-secao3 {
    padding-left: 5%;
    padding-right: 5%;
}


#section4-main{
    background-color: #86AE8E;
    padding: 10% 0 10% 0;
}

#section4-main iframe{
    text-align: center;
    margin: auto;
}

#section4-main h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

@media (max-width: 800px) {
    #section4-main iframe{
        width: 400px;
        height: 400px;
    }
}


@media (max-width: 945px) {

    #section4-main h2 {
        font-size: 2rem;
    }
    #section4-p2-main {
        flex-direction: column;
    }
}


#section5-p2-main h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #86AE8E;
}

#section5-p2-main p {
    font-weight: 300;
    font-size: 2.5rem;
    color: #86AE8E;
    font-size: 1.2rem;
    width: 450px;
}

@media (max-width: 945px) {
    #section5-p2-main h2 {
        font-size: 2rem;
    }
    #section5-p2-main p {
        width: 350px;
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    #section5-main img {
        display: none;
    }
    #section5-main {
        height: 100vh;
    }
    #section5-p2-main {
        margin: auto;
    }

}

#p-footer {
    font-size: 1rem;
    background-color: #86AE8E;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    height: 7%;
    padding-top: 10px;
}

@media (max-width: 850px) {
    #p-footer {
        height: 5%;
        font-size: 0.8rem;
    }
}