#secao1-inicial h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    width: 400px;
    margin-bottom: 10%;
}

#secao1-inicial p {
    width: 450px;
    font-weight: 300;
    margin-bottom: 10%;
    font-size: 1.2rem;
}

#secao1-inicial button {
    color: white;
    background-color: #86AE8E;
    width: 400px;
    height: 50px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-weight: 600;
}

@media (max-width: 560px) {
    #secao1-inicial h1 {
        width: 250px;
        font-size: 2rem;
    }

    #secao1-inicial p {
        width: 350px;
        font-size: 1rem;
    }

    #secao1-inicial button {
        width: 250px;
        font-size: 1.1rem;
    }
}

#section2-main {
    background-color: #fff;
    color: #86AE8E;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
}

#section2-main-div-inicial {
    padding-top: 50vh;
    width: 50%;
}

#section2-main-div-inicial p {
    width: 450px;
    font-weight: 300;
    margin-bottom: 200px;
    font-size: 1.2rem;
}

#section2-main-div-inicial h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    width: 450px;
    margin-bottom: 1%;
}

#div-cardsCircles {
    margin-top: 25vh;
    margin-bottom: 15vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 950px) {
    #section2-main {
        flex-direction: column;
        align-items: center;
    }

    #section2-main-div-inicial {
        width: 100%;
    }

    #div-cardsCircles {
        width: 100%;
        align-self: center;
    }
}

@media (max-width: 690px) {
    #section2-main-div-inicial p {
        width: 350px;
        font-size: 1rem;
    }

    #section2-main-div-inicial h2 {
        width: 250px;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #section2-main-div-inicial p {
        width: 100vw;
        font-size: 1rem;
    }

    #section2-main-div-inicial h2 {
        width: 100vw;
        font-size: 1.5rem;
    }
}

#section3-main {
    background-color: #86AE8E;
    color: #86AE8E;
    padding-bottom: 5%;
}

#section3-main h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

#section3-p2-main {
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 945px) {
    #paragrafo-section3-main {
        font-size: 1rem;
    }

    #section3-p2-main h2 {
        font-size: 2rem;
    }
}

@media (max-width: 630px) {
    #cardQuadrado-secao3 {
        flex-direction: column;
    }
}
