@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#cardQuadrado {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #ffffff;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

#cardQuadrado p {
    color: black;
    text-align: center;
    font-weight: 500!important;
}


#cardQuadrado h3 {
    color: #86AE8E;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 15px;
}

#cardQuadrado img {
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;
}

@media (max-width: 1200px) {
    
    #cardQuadrado {
        width: 200px;
        height: 250px;
    }
    #cardQuadrado img {
        padding-top: 10px;
        
    }
    #cardQuadrado h3 {
        font-size: 1rem;
    }

    #cardQuadrado p {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    #cardQuadrado {
        margin-bottom: 10px;
    }
}

#quadrado {
    width: 80%;
    height: 15px;   
    border-radius: 10px;
    background: #4D7473;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 50px;
}